* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica";
}

:root{
    --correct: rgb(13, 79, 13);
    --wrong: rgb(165, 14, 14);
}

.hide {
    display: none;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2015/11/10/14/33/hawaii-1037024_960_720.jpg');
    background-repeat: no-repeat;
    background-color: #e6eee4;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.hula{
    height:175%;
}

.container {
    background: rgba(52, 130, 158, 0.3);
    width: 60%;
    height: 25%;
    top: -30%;
    padding-bottom: 25%;
    margin: 20% auto;
    position: relative;
    text-align: center;
    font-size: 25px;
    border-radius: 12px;
}

.questCont {
    /*background: rgba(52, 130, 158, 0.3);*/
    position: absolute;
    top: 30%;
    left: 8%;
    width: 90%;
    padding-top: 30px;
    margin: -25px 0 0 -25px;
    font-size: 24px;
}

.btn-grid {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(136, 209, 196, 0.995);
    padding: 5px 10px;
}

.start {background-color:rgb(98, 164, 197);
    position: relative;
    bottom: -100px;
    border: 2px solid;
    padding: 10px 40px;
    border-radius: 12px;
    font-size: 40px;
    font-weight:bold;
    box-shadow: 0 4px rgba(46, 107, 138, 0.971);
}
 .next {
    background-color:rgb(98, 164, 197);
    position: relative;
    bottom: -340px;
    border: 2px solid;
    padding: 10px 40px;
    border-radius: 12px;
    font-size: 40px;
    font-weight:bold;
    box-shadow: 0 4px rgba(46, 107, 138, 0.971);
}


.start:hover, .next:hover, .btn:hover, .replay_btn:hover {
    background-color: rgb(5, 52, 96);
    color:rgb(250, 229, 203);
}

.start:active, .next:active, .btn:active, .replay_btn:active {
    background-color: rgb(38, 84, 128);
    transform: translateY(4px);
}

.btn.correct{
   background-color: var(--correct);
   color: bisque;
}

.btn.wrong{
    background-color: var(--wrong);
    color: bisque;
}

.btn.clear{
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(136, 209, 196, 0.995);
    padding: 5px 10px;
}
.result_title{
    padding-bottom: 20px;
}

.final_res {
    position: absolute;
    top: 25%;
    left: 14%;
    width: 80%;
    padding-top: 30px;
    margin: -25px 0 0 -25px;
    font-size: 24px;
}

.replay_btn{
    background-color: rgb(98, 164, 197);
    position: relative;
    bottom: -90px;
    border: 2px solid;
    padding: 10px 40px;
    border-radius: 12px;
    font-size: 40px;
    font-weight:bold;
    box-shadow: 0 4px rgba(46, 107, 138, 0.971);

}
