* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", "Helvetica";
}

.hide {
    display: none;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2015/11/10/14/33/hawaii-1037024_960_720.jpg');
    background-repeat: no-repeat;
    background-color: #e6eee4;
    height: 800px;
    background-position: center;
    background-size: cover;
}

.container {
    background: rgba(52, 130, 158, 0.3);
    width: 60%;
    padding-bottom: 20%;
    margin: 20% auto;
    position: relative;
    text-align: center;
    font-size: 25px;
    border-radius: 12px;

}

#question-cont {
    background: rgba(52, 130, 158, 0.3);
    position: absolute;
    top: 30%;
    left: 11%;
    width: 80%;
    margin: -25px 0 0 -25px;
    border: 1px solid;
    font-size: 24px;
}

.btn-grid {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(166, 166, 218);
    padding: 5px 10px;
}

.start, .next{
    background-color: aquamarine;
    position: relative;
    bottom: -340px;
    border: 2px solid;
    padding: 10px 40px;
    border-radius: 12px;
    font-size: 40px;
    font-weight:bold;
    box-shadow: 0 4px rgb(60, 156, 60);
}


.start:hover, .next:hover{
    background-color: blue;
    color: rgba(255, 255, 255, 0.928);
}

.start:active {
    background-color: darkblue;
    transform: translateY(4px);
}

btn.correct{
    background-color: rgb(9, 44, 9);
}

btn.wrong{
    background-color: rgb(156, 10, 10);

}